<!-- Section styles are 'alt' 'dark' 'bgclear' with the following helper classes for bg images 'cover' 'tile' 'parallax' 'fullscreen' -->
<!-- Hero layout classes are 'no-image' 'image-tagline' 'image-center' 'image-left' 'image-right' -->
<section id="hero" class="jumbotron section image-tagline fullscreen bgclear cover parallax" style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url({{ page.bannerimg }}) !important;">
  <div class="container">
    <div class="logo-display">
      <img class="logo container img hidden-xs" alt="Logo" src="/img/logo-badge.png"></img>
      <img class="logo container img-responsive visible-xs img" alt="Logo" src="/img/logo-badge.png"></img>
      <h1 class="page-title">The Plot Thickens</h1>
    </div>
      <h3>Welcome to your story, backed by the most robust static publishing platform ever created.</h3>
      <br/>
      <a href="#posts">
        <button class="btn btn-transparent"><i class="fa fa-caret-down"></i>Read On</button>
      </a>
  </div>
</section>
