

<section class="generic section">
<a name="posts"></a>
  <div class="container text-center">
    <h1>Recent Posts</h1>
    <br/>
    <ul class="post-list text-left">
        {% for post in site.posts %}
          {% if post.author %}
            {% assign author = site.theme.authors[post.author] %}
          {% endif %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}

            {% include post-meta.html %}
          </li>
          <hr>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>
</section>
